exportPattern("^[[:alpha:]]+")

import(GenOrd, OrdNor) 

importFrom("stats", "cor", "rnorm")

importFrom(BB, BBsolve) 

importFrom(corpcor, is.positive.definite)

importFrom(Matrix, nearPD)

importFrom(mvtnorm, rmvnorm)
